body{
	display: grid;
	grid-template-columns: 7% 43% 43% 7%;
	grid-template-rows: 60px 80px 300px 300px 300px 60px;
	grid-template-areas:  
		". header header ."
		". image intro ."
		". experience experience ."
		". title image ."
		". title image ."
		". contact contact ." ;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	overflow: scroll;
	background-color: #FCDED8;
}
.navbar{
	grid-area: 1 / 2 / 1 / 2;
}
.uk-navbar-nav{
	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	width: 60px;
}
.navitem{
	display: inline;
}

#projectsheader{
	grid-area: 2 / 2 / 3 / 4;
	align-self: center;
	justify-content: center;
	text-align: center;
}

#gitletimg{
	grid-area: 3 / 2 / 4 / 3;
}
